.plp-subscribe__media--img {
  margin-left: auto;
  margin-right: auto;
}

.plp-main__subscribe {
  position: relative;
}

.plp-subscribe__content {
  position: absolute;
  transform: translate(-50%, -50%);
  @include media-query($medium-up) {
    left: 25%;
    top: 51%;
  }
  @include media-query($large-up) {
    left: 29%;
  }
  @include media-query($widescreen) {
    left: 27%;
  }
}

.plp-subscribe__content--heading {
  font-size: 27px;
}

.plp-subscribe__content--subheading {
  font-size: 15px;
}

.plp-subscribe__content--subheading-2 {
  width: 60%;
  color: #464646;
}

.plp-subscribe__content--txt {
  width: 50%;
}

.plp-subscribe__email {
  position: relative;
  width: 285px;
  .plp-subscribe__email--input {
    width: 100%;
    height: 45px;
    border: 1px solid;
    padding-left: 16px;
    &::placeholder {
      color: $black;
      font-size: 13px;
      font-weight: 700;
    }
  }

  .plp-subscribe__email--btn {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 7px;
    background: $black;
    color: $white;
    border: 0;
    width: 77px;
    height: 30px;
    font-size: 9px;
  }
}

.plp-subscribe__content-parent {
  height: 40px;
  &:first-child {
    @include media-query($medium) {
      position: relative;
      top: 20px;
    }
  }
}

.plp-bluelight {
  .plp-subscribe__content--subheading-2 {
    color: #ffffff;
  }
}
