.plp-hero__header-desktop--logo {
  @include media-query($medium-up) {
    width: 40%;
  }
  @include media-query($large-up) {
    width: 34%;
  }
  @include media-query($widescreen) {
    width: 28%;
  }
}
