.plp-main__grid {
  display: flex;
  flex-wrap: wrap;
  .col {
    margin-left: 0;
  }
  .plp-sunglasses__grid--items {
    width: 50%;
    @include media-query($medium-up) {
      width: 25%;
    }
  }
}
