// Font-Size Set for hero banner for various pages, we are using the same classes globally for future re-use
$min_width: 320px;
$max_width: 1024px;
$min_font: 25px;
$max_font: 40px;
$min_font2: 20px;
$max_font2: 55px;
$min_font3: 14px;
$max_font3: 22px;
$max_width3: 768px;

.global-hero__content--heading {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  @include media-query($small) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.global-main__hero {
  position: relative;
}

.global-hero__content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &.center {
    left: 50%;
  }

  &.left {
    left: 22%;
  }

  &.right {
    left: 74%;
  }

  &.reverse-left {
    left: 30%;

    .global-hero__content--heading {
      @include fluid-type($min_width, $max_width, $min_font2, $max_font2);
    }
    .global-hero__content--subheading {
      @include fluid-type($min_width, $max_width, $min_font3, $max_font3);
    }
  }
}
