body {
  min-width: 320px;
  font-size: 16px;
  box-sizing: border-box;
  color: $black;
}

.container {
  max-width: 86.25rem;
  margin: 0 auto;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: $black;
}

.border-none {
  border: 0;
}

.homepage--cta {
  border: 0;
  border-radius: 0;
  background-color: $black;
  font-weight: 600;
  color: $white;
  font-size: 0.625rem;
}

.width-half-phablet {
  @include media-query($small) {
    width: 50%;
  }
}
