@import "plp/plp_grid";
@import "plp/plp_hero";
@import "plp/plp_filters";
@import "plp/plp_subscribe";
@import "plp/plp_bluelight";

.plp-main__description--heading {
  font-size: 35px;
}

.plp-main__description--txt {
  @include media-query($medium) {

  width: 70%;
}
  @include media-query($widescreen) {
    width: 55%;
  }
}

.plp-main__bluelight--story {
  @include media-query($small) {
    order: 2;
  }
}
