// Typography
$font-heading: sans-serif;
$font-body: sans-serif;
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;
$hover: 400ms ease;
